*{

padding:0;
margin: 0;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{

max-width: 1540px;
margin: 0 auto;


}


header{

padding:20px;
background-color: #000;

width:100%;
position: fixed;

top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;



}
.header_item{
width:1540px;
padding: 10px;
display: flex;
align-items: center;
justify-content: space-around;




}

header a{
  text-decoration: none;
  color:#fff
}
header .active{

  color:blue
}

.link.red{
background-color:red;

}

.user{
width: 100%;
height: 100vh;;
background-color:grey;
display: flex;
justify-content: center;
padding-top: 50px;
margin-top:70px

}
.user_data{
  width:80%;
  display: grid;
  grid-template-columns: repeat(3,25%);
  grid-auto-rows: 300px;
  justify-content: space-around;

  height: auto;
  
  

}

.user_item{

background-color: rgb(52, 185, 141);
display: flex;
flex-direction: column;
align-items: center;
gap:15px;
padding: 10px;
border-radius:10px;


}

.user_item img{
width:50%;
height:50%;
border-radius: 100%;

}

.product{

  width:100%;
  height: 100vh;
  background-color: cadetblue;
  display: flex;
  margin-top:70px
}

.product_item1{


width:400px;
height:100vh;
background-color: dodgerblue;

}

.product_item2{

  width:calc( 100% - 400px );
  height: 100vh;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_item3{

width:90%;
height:auto;

display: grid;
grid-template-columns: repeat(3,230px);
grid-auto-rows: 250px;

justify-content: space-between;
gap:20px

}
.product_item4{

  background-color: aquamarine;
  display: flex;
  flex-direction: column;
align-items: center;
border-radius: 10px;
padding: 20px;
gap:10px;
}

.product_item4 img{

border-radius: 100px;
}
.product_item1{
  display: flex;
align-items: center;


}

.product_item1 form{

width: 100%;
height: 500px;

display: flex;
flex-direction: column;
align-items: center;
gap:40px


}
.product_item1 form input{

  width: 300px;
padding: 15px;
border: none;
}
.product_item1 button{

  width: 200px;
  padding: 15px;
 
}
.product_item1 button:hover{
  background-color: blue;
  color: white;
  border: none;
}

.btns{
  display: flex;
  gap: 20px;
  border: none;


}
.btns button{
  border: none;
  background-color: none;
  background-color:#fff;
}
.btns svg{
font-size: 24px;

}
.btns svg:hover{
  cursor: pointer;
  background-color: blue;
}


.cooment{
  width: 100%;
  height: 100vh;
  background-color:lightsteelblue;
  display: flex;
align-items: center;
justify-content: center;

}


table{
background-color: cornflowerblue;
width:800px;
height: 200px;
border: 1px solid black;


}
table tr{

  text-align: center;
  
 
}
td{
  border-right: 1px solid black;
  border-top: 1px solid black;
  
  
  
}

.like{
  width: 100%;
  height: auto;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

.like_item{


width: 80%;
height:auto;


display: grid;
grid-template-columns: repeat(3,250px);
grid-auto-rows: 300px;

gap:30px;
justify-content: center;
justify-content: space-between;


}

.like h1:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  font-size: 50px;

}
.like_item2{
background-color: lightgrey;
border-radius: 15px;
padding: 40px;
display: flex;
flex-direction: column;
gap:10px;
align-items: center;
justify-content: center;


}

.like_item2 img{

width: 150px;
height: 150px;
border-radius: 150px;

}
.like_btns{

width:80%;
height:auto;

display: flex;
justify-content: flex-start;
font-size: 40px;

}

.like_btns{


display: flex;
gap:10px;
color: grey;

}

.like_btns svg:hover{
  color:red
}